{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="form-signin">
    <fieldset>
		<h3>{{ 'resetting.request.submit'|trans }}</h3>
		<label for="username">{{ 'resetting.request.username'|trans }}</label>
		<input type="text" id="username" class="input-block-level" name="username" required="required" placeholder="{{ 'resetting.request.username'|trans }}" />
		<button type="submit" class="btn btn-primary btn-login">{{ 'resetting.request.submit'|trans }}</button>
	</fieldset>
	<a class="forgot-passwd" href="{{ path('fos_user_security_login') }}">{{ 'resetting.request.tologin'|trans }}</a>
</form>
{% if invalid_username is defined %}
<div class="alert alert-error">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</div>
{% endif %}
