{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
	
	<fieldset>
		<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
		<h3>{{ 'security.login.submit'|trans }}</h3>
		<label for="username">{{ 'security.login.username'|trans }}</label>
		<input type="text" id="username" class="input-block-level" name="_username" value="{{ last_username }}" required="required" placeholder="{{ 'security.login.username'|trans }}" />
		<label for="password">{{ 'security.login.password'|trans }}</label>
		<input type="password" id="password" class="input-block-level" name="_password" required="required" placeholder="{{ 'security.login.password'|trans }}" />
		<button type="submit" id="_submit" class="btn btn-primary btn-login" name="_submit" value="">{{ 'security.login.submit'|trans }}</button>
		<label class="checkbox">
		  <input type="checkbox" id="remember_me" name="_remember_me" value="on"> {{ 'security.login.remember_me'|trans }}
		</label>
	</fieldset>
	<a class="forgot-passwd" href="{{ path('fos_user_resetting_request') }}">{{ 'security.login.reset'|trans }}</a>
    
</form>

{% if error %}
<div class="alert alert-error">{{ error|trans }}</div>
{% endif %}
{% endblock fos_user_content %}
